doctype html
html
  head
    meta(name='google-site-verification', content='QxmBsoGT83IgdRnuSGUe2Hnbu5vzIh8r76aA_H5a-wA')
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')
  body
    div(ng-app="instantchat", ng-cloak)
      block content

  block javascripts
    script(src="/angular/angular.min.js")
    script(src="/javascripts/main.js")